.one {
    height: 70px;
    width: auto;
    border: red 1px solid;
    background-color: seashell;
    position: fixed;
    
}
body{
    margin: 0;
    padding: 0;
}
.one1{
height: 45px;
width: 90px;
padding-left: 30px;
text-align: center;
font-size: 30px;
color: royalblue;
padding-top:5px;
display: inline-block;
}
.one ul{display: inline-block;}
.one li{

  display:inline-block; 
  font-size: 15px;
  padding-left: 25px;
  text-align: center;
 
  
}
a:hover{
c: none;
}
.one li a{
    color: darkgray;
}

  
.one2{
   
    display: inline-block;
    padding-left:  60px;
    padding-bottom: 8px;
  }
  .form-control {
    display: inline;
    width: 400px;
    height: 34px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 34px;}
    .two{
        width: 650px;
        height: 900px;
       display: inline-block;
        margin-left: 100px;
        margin-top: 70px;
    }  
    .two1{
        width: 650px;
        height: 200px;
        background-color: snow;

    }
    .two1-1{
        width: 650px;
        height: 150px;
    }
    .two1-2{
        width: 650px;
        height: 50px;
    }
    .two1-2 .btn{
        display: inline-block;
       
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        
      
        cursor: pointer;
       
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-left: 15px;
        width: 120px;
       
    }
    .two1-1-1{
        width: 120px;
        height: 120px;
        background-color: #ccc;
        float:left;
      margin:15px ;

    }
    .two1-1-2{
        width: 300px;
        height: 150px;
        float: left;
    }
.two-wz1{
    width: 300px;
    height: 50px;
    margin-top: 15px;
    font-size: 25px;
}
.two-wz2{
    width: 300px;
    height: 40px;
    font-size: 17px;
}

.one2 .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    
    cursor: pointer;
    
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-left: 15px;
    
  }
  .an{width: 150px;
      height:70px ;
      float: right;
    }
    .an .glyphicon {
        position: relative;
        top: 10px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    padding-left: 60px;}
  .two1-2 ul{
      display: inline-block;     
      position: relative;
      right: 20px;
     
  }
  .two1-2 ul li {
     padding-right: 20px;
      font-size: 8px;
      list-style-type: none;
      display: inline-block;
      
      
      
  }
 .two1-2 .glyphicon {
    position: relative;
   
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
  
  .two2{
      height: 50px;
      width: 650px;
      background-color:#fff;
      margin-top: 10px;
      border: solid 1px rgb(148, 147, 143);
      display: inline-block;
  }
  .two2-1{
      width: 400px;
      height: 48px;
      float: left;
  }
  .two2 ul{
    position: relative;
    padding-left: 0px;
}
  
.two2 ul li {
      padding-top: 15px;
      font-size: 17px;
list-style-type: none;
      display: inline-block;
      padding-left: 30px;
  }
.qh{
 height: 48px;
 line-height: 48px;
    display: inline-block;   
    padding-left: 130px;
    text-align: center;

}
.ny{
    height: 610px;
    width: 650px;
    border: solid 1px black;
    background-color: aliceblue;
  
}
.touw{
    height: 100px;
    width: 630px;
   margin-left:  7px;
   border-top-style:none;
   border-right-style:none;
   border-bottom-style:solid;
   border-left-style:none;
}
.touw1{
    width: 600px;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 12px;

}
.btn3 {
    margin-left: 12px;
     display: inline-block;
     font-size: 14px;
     text-align: center;
       
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 4px;
     width: 80px;
 height: 30px;
background-color: blue;}
.ny1{
    height:140px;
    width: 630px;
   margin-left:  7px;
   border-top-style:none;
   border-right-style:none;
   border-bottom-style:solid;
   border-left-style:none;
   
  

}
.ny1-1{
    height: 50xp;
    width: 630px;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 10px;
    
}
.ny1-2{
    height: 40px;
    width: 570px;
    padding-left: 12px;
    margin-top: 10px;
    
}
.ny1-2.tx {
    height: 30px;
    width: 30px;  
    
   
  
}
.mz{margin-left: 10px;
font-size:15px;}
.wz1{
    width: 630px;
   height: 50px;
    padding-left: 12px;
    font-size: 15px;
   

}
.dz{
    width: 600px;
    height: 40px;
    margin-left: 12px;
    padding-top: 8px;  
    
    margin-top: 50px;

}
.zt{width: 100px;
    height: 30px; 
    margin-bottom: 4px;
    padding-left: 12px;
   }
.btn2 {
   margin-left: 12px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;   
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 60px;
height: 30px;
background-color: rgb(197, 193, 193);}
    .btn1 {
        
        display: inline-block;
        font-size: 14px;
        text-align: center;        
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 30px;
    height: 30px;
    background-color: rgb(197, 193, 193);
}
.pl {
    width: 400px;
    height: 20px;
    position: relative; 
     display: inline-block;
}

.pl ul li {
  
    font-size: 8px;
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    color: lightgray;

    
    
    
}
.pl .glyphicon {
 
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  
}
.bianj{
    width:398px;
    height: 80px;
    border: 1px solid ;
}
.bj1{
    width: 398px;
    height: 39px;
    border-bottom: solid 1px red;
    line-height: 39px;
    margin-right: 20px;
}
.bj2{
width: 398px;
height: 40px;
    }



.three{
    height: 550px;
    width: 350px;
    position: fixed;
    display: inline-block;
    
    margin-left: 10px;
    margin-top: 70px;
}
.three1{
width: 300px;
height: 100px;
border: solid #ccc 1px ;
}
.three1-1{
    width: 140px;
    height: 80px;
    margin-top: 10px;
    border-top-style:none;
   border-right-style:solid;
   border-bottom-style:none;
   border-left-style:none;
   display: inline-block;
}
.three1-2{
    width: 140px;
    height: 80px;
    display: inline-block;
   
}
.gzz{
width: 140px;
height: 40px;
padding-top: 20px;
text-align: center;
color: #ccc;
}
.sz{
    width: 140px;
height: 40px;
text-align: center;
line-height: 40px;
font-size: 20px;
}
.three2{
    height: 135px;
    width: 300px;
    border: #ccc solid 1px;
    margin-top: 10px;

}
.three2-1{
    height: 50px;
    width: 300px;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.three2-2{
    height: 50px;
    width: 300px;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 15px;
    color: gainsboro;
}
.btn4 {
        
    display: inline-block;
    font-size: 14px;
    text-align: center;        
    cursor: pointer;
    background-color:cyan; 
    border-radius: 30px;
    width: 130px;
    line-height: 17px;
height: 30px;
margin-left: 15px;
}
.zh{
    width: 320px;
    height: 350px;
    left: 20px;

}
.zh li{
    list-style-type: none;
    padding-top: 7px;
    position: relative;
    right: 30px;

}